@import "./styles/root";

.Partners {
  display: flex;
  flex-direction: column;
  margin: 0 119px 6em;

  @media #{$mobile} {
    margin: 0;
  }

  .Title {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $base-spacing*3;
    line-height: 96.11%;
    letter-spacing: -0.02em;
    text-transform: lowercase;
    color: #000;
    margin: 0;

    @media #{$mobile} {
      font-size: 24px;
      margin: 26px 30px 0;
    }
  }

  .Images {
    display: flex;
    flex-wrap: wrap;

    @media #{$mobile} {
      display: none;
    }
  }

  .ImagesSlider {
    display: none;
    width: 100%;
    overflow: hidden;
    padding: 30px;

    @media #{$mobile} {
      display: block;
      padding: 15px 0;
    }
  }

  .Image {
    min-width: 20%;
    height: 160px;
    margin: 50px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media #{$mobile} {
      height: 80px;
      margin: 5px;
      display: flex;
      justify-content: center;

      img {
        margin: auto 0;
        width: 100%;
      }
    }
  }
}